
body {
  background: $background;
  color: $textColor;
}

a,
a:visited {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: $linkColor-hover;
}

// Content Wrapper
.wrap {
  width: $L;
  margin: 0 auto;
}

// Transitions
a,
.button {
  @include transition(all 0.4s ease-in-out);
}
