
body {
  background: $background;
  color: $textColor;
}

a,
a:visited {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: $linkColor-hover;
}

.alt-colors {
  background: $background-alt;
  color: $textColor-alt;
}

// Content Wrapper
.wrapper,
.site-footer {
  @include outer-container;
}

// Transitions
a,
.button {
  @include transition(all 0.4s ease-in-out);
}
