.type-post { height: 100%; }

.post-bg {
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}

.post-bg-wrapper {
  position: relative;
  height: 70%;
  width: 100%;
}

.post-content-area {
  @include outer-container;

  img {
    height: 85%;
    width: 85%;
  }

  .post {
    @include span-columns(6);
    @include shift(2);
  }

  .post-header {
    text-align: center;
    padding: ($gutter * 2) 0;
  }

  .alignright {
    margin-right: -34.78261%;
    float: right;
    padding: ($gutter * 2);

  }

  .alignleft {
    @include shift(-2 of 6);
    float: left;
    padding: ($gutter * 2);
  }

}
