.singlePost-bg {
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}


.singlePost-bg-wrapper {
  position: relative;
  height: 80%;
  width: 100%;
}

.singlePost-content-area {
  @include outer-container;

  img {
    height: 85%;
    width: 85%;
  }

  .singlePost {
    @include span-columns(6);
    @include shift(2);

    @include media($tablet) {
      @include span-columns(10);
      @include shift(0);
      padding: 0 $gutter;
    }
  }

  .singlePost-header {
    text-align: center;
    padding: ($gutter * 2) 0;
  }

  .alignright {
    margin-right: -34.78261%;
    float: right;
    padding: ($gutter * 2);

    @include media($tablet) {
      margin-right: 0;
    }

    @include media($mobile) {
      padding: $gutter 0;
      width: 100%;
    }

  }

  .alignleft {
    @include shift(-2 of 6);
    float: left;
    padding: ($gutter * 2);

    @include media($tablet) {
      @include shift(0);
    }

    @include media($mobile) {
      padding: $gutter 0;
      width: 100%;
    }
  }

}
