.button,
.button-alt {
  font-family: $font-secondary;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: $rad;
}

.button {
  border: 1px solid $buttonBg;
  margin-top: $gutter;

  &:hover {
    color: $buttonColor-hover;
    border: 1px solid $buttonColor-hover;
  }
}

.button-alt {
  border: 1px solid $buttonColor;
  margin-top: $gutter;

  &:hover {
    color: $buttonColor-hover;
    border: 1px solid $buttonColor-hover;
  }
}

.more-link {
  text-decoration: underline;
  font-style: italic;
}

// Footer button
.footer-content {
  .button-alt {
    display: block;
    float: left;
    clear: left;
  }
}
