$white: #F2F3F8;
$off-white: #FDFFF7;
$grey: #687074;
$yellow: #FFF0A5;

$black: #263238;
$lightBlack: #384248;
$teal: #70B7BA;

// Text & Links
$textColor: $black;
$textColor-alt: $white;

$linkColor: $lightBlack;
$linkColor-hover: $yellow;
$linkColor-alt: $lightBlack;
$linkColor-hover--alt: $yellow;

// Background
$background: $white;
$background-light-secondary: $off-white;
$background-alt: $black;

// Elements
$buttonBg: $grey;
$buttonBg-hover: $black;

$buttonColor: $white;
$buttonColor-hover: $yellow;

$borderColor: $grey;
