$font-main: 'Merriweather', serif;
$font-secondary: 'Lato', sans-serif;
$font-line-height: 1.8;
$font-spacing: 1.3px;
$font-size: 16px;
$font-weight: 300;

body,
button,
input,
select,
textarea {
  font-family: $font-main;
  font-size: $font-size;
  letter-spacing: $font-spacing;
  line-height: $font-line-height;
  @include font-smoothing;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  letter-spacing: $font-spacing;
  line-height: $font-line-height;
  font-weight: $font-weight;
  @include font-smoothing;
}

h1 { font-size: 42px }
h2 { font-size: 36px }
h3 { font-size: 32px }
h4 { font-size: 28px }
h5 { font-size: 24px }
h6 { font-size: 20px }
